/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
body {
  margin: 0;
}

.nastym {
  /*flex 1 - nadpis a dlaždice*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.kontejner {
  /*flex 2 - rozložení dlaždic*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.k1,
.k2,
.k3,
.k4 {
  /*flex 3 - foto a popis*/
  min-height: 200px;
  width: 250px;
  padding: 15px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.foto {
  width: auto;
  height: auto;
  margin: 5px;
  text-align: center;
}

img {
  border-radius: 50%;
  border: 1px solid grey;
  width: 130px;
}
.popis {
  /*flex 4 - popis*/
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0 10px 0;
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 12px;
}

/*---pro tablet--- */
@media screen and (min-width: 540px) and (max-width: 960px) {
  .kontejner {
    /*flex 2 - rozložení dlaždic*/
    flex-direction: row;
    flex-wrap: wrap;
  }

  .k1,
  .k2,
  .k3,
  .k4 {
    /*flex 3 - foto a popis*/
    min-height: auto;
    width: 45%;
    min-width: 250px;
    flex-direction: row;
  }

  img {
    height: 90px;
    width: auto;
  }

  .popis {
    text-align: left;
    margin-left: 10px;
  }
}

/*---velký screen---*/
@media screen and (min-width: 960px) {
  .kontejner {
    /*flex 2 - rozložení dlaždic*/
    flex-direction: row;
  }

  .k1,
  .k2,
  .k3,
  .k4 {
    /*flex 3 - foto a popis*/
    min-height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
  }

  .foto {
    height: auto;
    margin: 5px;
  }

  img {
    width: 130px;
    height: auto;
  }
  .popis {
    /*flex 4 - popis*/
    text-align: center;
    margin: 0;
  }
}
