/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
.nastym {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.kontejner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 18px;
}

.k1,
.k2,
.k3,
.k4 {
  border: 2px solid lightgrey;
  border-radius: 10px;
  height: auto;
  width: 360px;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  border: 1px solid grey;
  height: 60%;
  width: 60%;
}

h2 {
  font-size: 25px;
  margin: 15px;
}

p {
  margin: 0;
  text-align: center;
}
